.env
.env.*
!.env.example

node_modules
**/node_modules

npm-debug.log
*.log

.git
.github

coverage
dist

.vscode
.idea

serviceAccountKey.json
**/serviceAccountKey.json

credentials.json
**/credentials.json